<?xml version='1.0' encoding='utf-8'?>
<plugin id="thsapnsys" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>thsapnsys</name>
<js-module name="thsbase64file" src="www/thsbase64file.js"><clobbers target="cordova.plugins.thsbase64file" /></js-module>
<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
   <feature name="thsbase64file"><param name="android-package" value="thsbase64file.thsbase64file" /></feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml"></config-file>
<source-file src="src/android/thsbase64file.java" target-dir="src/thsbase64file/thsbase64file" />
</platform>
</plugin>