<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.com.ths.exportdoc" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>thsExportDoc</name>
 <js-module name="thsExportDoc" src="www/thsExportDoc.js">
    <clobbers target="cordova.plugins.thsExportDoc" />
 </js-module>
<platform name="android">
 <config-file parent="/*" target="res/xml/config.xml">
   <feature name="thsExportDoc"><param name="android-package" value="cn.com.ths.exportdoc.thsexportdoc.thsExportDoc" /></feature>
 </config-file>
 <config-file parent="/*" target="AndroidManifest.xml"></config-file>
 <config-file target="AndroidManifest.xml" parent="/*">
            <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
  </config-file>
 <source-file src="src/android/thsExportDoc.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc" />
 <source-file src="src/android/enums/DocParamTypeEnum.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/enums" />
 <source-file src="src/android/model/DocParamValue.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/model" />
 <source-file src="src/android/service/DocComplexTable.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/service" />
  <source-file src="src/android/service/DocDynamicTable.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/service" />
  <source-file src="src/android/service/DocImage.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/service" />
  <source-file src="src/android/service/DocMultiTable.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/service" />
  <source-file src="src/android/service/DocOleObject.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/service" />
  <source-file src="src/android/service/DocSuperAndSub.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/service" />
  <source-file src="src/android/service/DocTable.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/service" />
  <source-file src="src/android/service/DocumentPage.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/service" />
  <source-file src="src/android/service/RepDocTemplate.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/service" />
  <source-file src="src/android/utils/ExportWordUtils.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/utils" />
  <source-file src="src/android/utils/JsonUtil.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/utils" />
  <source-file src="src/android/utils/StringUtils.java" target-dir="src/cn/com/ths/exportdoc/thsexportdoc/utils" />
  <source-file src="src/android/aspose-words-15.8.0-jdk16.jar" target-dir="libs" />
  <source-file src="src/android/jackson-annotations-2.6.3.jar" target-dir="libs" />
   <source-file src="src/android/jackson-core-2.6.3.jar" target-dir="libs" />
   <source-file src="src/android/jackson-databind-2.6.3.jar" target-dir="libs" />
   <source-file src="src/android/rt.jar" target-dir="libs" />
   <framework src="src/android/exportdoc.gradle" custom="true" type="gradleReference" /> 
</platform>
</plugin>